html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.cover-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* Space between items */
}

.cover {
  width: calc(25% - 10px); /* Ensure four items per row */
  max-width: 200px; /* Optional: Limit image width */
}

.cover img {
  width: 100%;
  height: auto;
  display: block; /* Remove bottom gap */
  border-radius: 8px; /* Optional */
}