@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="fw-bold">Watching TV and Movies</h1>
    <h2>It's a full time job.</h2>
    <br><br>
    <div class="cover-container border border-dark p-3 rounded">
        <p>I am user of the application <a href="https://letterboxd.com" style="color: inherit;">Letterboxd</a> that houses my film watching history or my <a href="https://boxd.it/2Q1Op" style="color: inherit;">personal filmography</a> you could say.
            Sadly that only holds information about movies, I have also watched a lot of TV shows but that is not as well tracked.
            I haven't always loved watching movies. Growing up I actually didn't watch many movies.
            It wasn't until about 4 years ago that I got into watching movies much more consistently and intentionally.
            However, I have loved watching TV for most of my life. A major aspect of my growing up was the shows that I would watch with my brothers on saturday mornings.
            I enjoyed those childhood shows so much and that is probably where my desire to watch TV comes from.</p>
        <p>One thing I like about TV and movies is the way it transports me into a new world or situation.
            The way that movies and TV can bring me in and bring out emotions.
            Media is not just for my entertainment, it allows me to see other peoples experiences or situation and I hope it helps me become a better person.</p>
    </div>
    <br>
        <p class="fs-5">There is no reason for you to take my opinion on movies and TV any more serious than the next person, but I will share with you some of my favorites to give you a taste of my taste.</p>

    <br>
    <h3>Here are my top 4 favorite* movies:</h3>
    <br>
    <div class="cover-container">
        <div class="cover"><img src="~/img/sasquatchGangCover.jpg" alt="The Sasquatch Gang Movie Cover"></div>
        <div class="cover"><img src="~/img/mementoCover.jpg" alt="Memento Movie Cover"></div>
        <div class="cover"><img src="~/img/fmfCover.jpg" alt="Fantastic Mr. Fox Movie Cover"></div>
        <div class="cover"><img src="~/img/dunept2Cover.jpg" alt="Dune Pt. 2 Movie Cover"></div>
    </div>
    <br><br>

    <h3>Here are my top 4 favorite* TV Shows:</h3>
    <br>

    <div class="cover-container">
        <div class="cover"><img src="~/img/bcsCover.jpg" alt="Better Call Saul Show Cover"></div>
        <div class="cover"><img src="~/img/successionCover.jpg" alt="Succession Show Cover"></div>
        <div class="cover"><img src="~/img/severenceCover.jpg" alt="Severance Show Cover"></div>
        <div class="cover"><img src="~/img/ParksAndRecCover.jpg" alt="Parks and Recreation Show Cover"></div>
    </div>
    <br>
    <p class="text-end">*These are my current favorites, of course they are subject to change.</p>
    <br><br>
    <br>
</div>