@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Watching TV and Movies</h1>
    <h2>It's a full time job.</h2>
    <br><br>
    <p>I am user of the application Letterboxd that houses my film watching history. Sadly that only holds information about movies but I have also watched a lot of TV shows.</p>
    <br><br>
    <h3>Here are my top 4 favorite* movies:</h3>
    <br>

    <div class="cover-container">
        <div class="cover"><img src="~/img/sasquatchGangCover.jpg" alt="The Sasquatch Gang Movie Cover"></div>
        <div class="cover"><img src="~/img/mementoCover.jpg" alt="Memento Movie Cover"></div>
        <div class="cover"><img src="~/img/fmfCover.jpg" alt="Fantastic Mr. Fox Movie Cover"></div>
        <div class="cover"><img src="~/img/dunept2Cover.jpg" alt="Dune Pt. 2 Movie Cover"></div>
    </div>
    <br><br>
    
    <h3>Here are my top 4 favorite* TV Shows:</h3>
    <br>
    
    <div class="cover-container">
        <div class="cover"><img src="~/img/bcsCover.jpg" alt="Better Call Saul Show Cover"></div>
        <div class="cover"><img src="~/img/successionCover.jpg" alt="Succession Show Cover"></div>
        <div class="cover"><img src="~/img/severenceCover.jpg" alt="Severance Show Cover"></div>
        <div class="cover"><img src="~/img/ParksAndRecCover.jpg" alt="Parks and Recreation Show Cover"></div>
    </div>
    <p>*These are some of my current favorites</p>
    
</div>